.circle {
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  padding-bottom: 80%;
  border-radius: 50%;
}

.black {
  background-color: black;
  border: 1px solid white;
}

.white {
  background-color: whitesmoke;
  border: 1px solid black;
}
