:host {
  display: flex;
}

.square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.white {
  color: black;
  background: #bbbbbb;
}

.black {
  color: whitesmoke;
  background: #333333;
}

.selected {
  background: #006600;
}

.target {
  background: #C21F39;
}
