<div class="container">

  <div class="row">
    <div class="col">
      <h1>Lobbies</h1>

      <div>
        @if (lobbies.length > 0) {
          <ul class="list-group">
            @for (lobby of lobbies; track lobby.id)
            {
              <li class="list-group-item"><app-dashboard-lobby [lobby]="lobby" (joinRequested)="joinLobby($event)"></app-dashboard-lobby></li>
            }
          </ul>
        }
      </div>

      <div>
        <button type="button" class="btn btn-success" (click)="createLobby()">Create new lobby!</button>
      </div>

    </div>
    <div class="col">
      <h1>Games</h1>
      <ul class="list-group">
        @for( number of [1,2,3,4]; track number) {
        <li class="list-group-item">
          <div class="row align-items-center">
            <div class="col-9">Game {{number}}</div>
            <div class="col-1"><button type="button" class="btn btn-primary">Watch</button></div>
          </div>
        </li>
        }

      </ul>
    </div>
  </div>
</div>
