<div class="container">

  <div class="row">

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Timestamp</th>
        <th scope="col">Kind</th>
        <th scope="col">Context</th>
        <th scope="col">Data</th>
      </tr>
      </thead>
      <tbody>
        @for (entry of entries; track entry; let index = $index) {
          <tr>
            <td>{{entry.timestamp}}</td>
            <td>{{Kind[entry.kind]}}</td>
            <td>{{entry.context}}</td>
            <td>{{entry.data}}</td>
          </tr>
        }
      </tbody>
    </table>

  </div>

</div>
